/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* General styles and layout*/

:root {
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --grey-950: hsl(0, 0%, 95%);
}

@font-face {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/LexendDeca-Regular-subset.woff2") format(woff2);
}

@font-face {
  font-family: "Big Shoulders";
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/BigShoulders_24pt-Bold-subset.woff2") format(woff2);
}

body {
  font-family: "Lexend Deca";
  /* 15px / 16px = 0.9375rem */
  font-size: 0.9375rem;
  line-height: 1.65;
  background-color: var(--grey-950);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 24px 32px 24px;
}

/* Card component */
.card {
  color: var(--transparent-white);
  display: flex;
  flex-direction: column;
  max-width: 38rem;
  border-radius: 8px;
  overflow: hidden;
}

.card h2 {
  font-family: "Big Shoulders";
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--grey-950);
  margin-top: 2rem;
}

.card p {
  margin: 1.5rem 0;
}

.card-section {
  background-color: var(--primary-clr);
  padding: 48px;
}

.sedans {
  --primary-clr: var(--gold-500);
}

.suvs {
  --primary-clr: var(--cyan-800);
}

.luxury {
  --primary-clr: var(--green-950);
}

.button {
  width: fit-content;
}

.button a {
  display: block;
  text-decoration: none;
  color: var(--primary-clr);
  background-color: var(--grey-950);
  padding: 0.5rem 2rem;
  border: 2px solid var(--grey-950);
  border-radius: 25px;
}

.button a:hover {
  color: var(--grey-950);
  background-color: var(--primary-clr);
}

@media (min-width: 36em) {
  .card-section {
    padding: 48px 80px;
  }
}

@media (min-width: 62em) {
  .card {
    flex-direction: row;
    max-width: 58rem;
  }

  .card-section {
    padding: 48px;
  }
}

/* Footer */
.attribution {
  font-size: 0.75rem;
  color: var(--cyan-800);
  text-align: center;
  padding: 0 24px 24px 24px;
}
.attribution a {
  color: var(--gold-500);
}
